<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>advance-01-memory-management.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>advance-02-multiple-object-memory-management.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>advance-03-@property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>advance-04-循环引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>advance-05-autoreleasepool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>advance-06_ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>advance-07-ARC-@property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>advance-08-ARC-autoReleasePool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>advance-09-interview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>advance-10-category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>advance-11-classExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>advance-12-MRCToARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>advance-12-SEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>advance-13-block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>advance-14-protocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>advance-15-NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>advance-16-collection-memory-management.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>advance-16-dictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>advance-17-NSValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>advance-17-copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>advance-18-copy2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>advance-19-kvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>basic-01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>basic-02-class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>basic-03-class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>basic-04-class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>basic-05-NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>basic-06-BOOL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>basic-07-objectAndFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>basic-08-objectAndMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>basic-09-multiDevelop-optimize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>basic-09-multifilesDevelop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>basic-11-practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>basic-12-encapsulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>basic-13-classMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>basic-14-self.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>basic-15-inherit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>basic-16-setterAndGetter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>basic-17-inhance-property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>basic-18-id.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>basic-19-private-method.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>basic-20-constructor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>basic-21-simple-constructor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5122DFF1BD53A1400AF870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5122E0D1BD6739800AF870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54E4E561BD7D80B004EBF23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6661BD1B08000A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6741BD1D48700A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6851BD1E64400A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6961BD1F8C900A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6A71BD236C900A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6B81BD25BF500A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6C91BD2716300A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6DA1BD27CE400A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6EB1BD2810B00A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF6F61BD32CF500A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF7171BD3C1B500A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF7251BD3C57700A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57EF7361BD3D89900A0776F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB930E1BC94FA60077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93311BC9E9270077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB933C1BCA0C690077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93471BCA12C80077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93521BCA438E0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB935D1BCA4DEB0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93681BCA5FDD0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93731BCA69D10077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB937E1BCA6EE20077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93891BCA93FA0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB939D1BCBF1520077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93B41BCD2CDE0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93C21BCD36530077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93D31BCD475C0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93E11BCD5B0F0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB93F21BCE90080077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB94001BCFCFDA0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB94111BCFDACB0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB941F1BCFDF760077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB94301BCFEA4F0077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BB943E1BCFF1300077EB1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C0C6521BDE4B010049856F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5CCEFAE1BEC091E003581B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D2C3FA1BDC6E06007FB816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D2C4051BDC9150007FB816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D2C4131BDCB47C007FB816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D2C41E1BDCC486007FB816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
